@import url(./reset.css);



@font-face {
    font-family: "teutonic";
    src: url('../../assets/fonts/teutonic/Teutonic.woff2') format('woff2'),
        url('../../assets/fonts/teutonic/Teutonic.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: "cat-child";
    src: url('../../assets/fonts/cat-child/cat-childs.regular.woff2') format('woff2'),
        url('../../assets/fonts/cat-child/cat-childs.regular.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: "nunito";
    src: url('../../assets/fonts/nunito/nunito.woff2') format('woff2'),
        url('../../assets/fonts/nunito/nunito.woff') format('woff');
    font-style: normal;
}




:root {

    /* font sizes */

    /* body text */
    --fs-b-mobile: 0.9rem;
    --fs-b-desktop: 1.5rem;

    /* titles */
    --fs-t-desktop: 6.8rem;
    --fs-st-desktop: 2.8rem;
    --fs-t-mobile: 2rem;
    --fs-st-mobile: 1.2rem;

    /* colors */
    --c-1: #FFDA7A;
    --c-white: #FFFFFF;

    /* line height */
    --lh-b-desktop: 2.4rem;
    --lh-b-mobile: 1.2rem;

    /* color gradients */
    --c-gr-1: #FFEED3;
    --c-gr-2: #FFFBEB;
    --c-gr-3: #3F2E3E;
    --c-gr-4: #74434B;

    /* shadows */
    --shadow-s: 0px 3px 15px rgba(0, 0, 0, 0.20);

    /* margins */
    --m-b-desktop: 2.8rem;
    --m-b-mobile: 1rem;
}


.landing__wrapper {
    display: flex;
    position: relative;
}

.landing {
    background-image: linear-gradient(90deg, var(--c-gr-3), var(--c-gr-4));
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.landing__flourish {
    position: absolute;
    margin: auto;
    top: 1%;
    width: 50vw;
    min-width: 50vw;
}

.landing__wrapper-text {
    width: 40vw;
    text-align: left;
    margin-left: 10vw;
    margin-top: 18rem;
    overflow: hidden;
    opacity: 1;
}

.landing__wrapper-text>* {
    margin-bottom: var(--m-b-desktop);
}


.landing__title {
    font-family: "teutonic";
    font-size: 6.8rem;
    color: var(--c-white);
    text-shadow: var(--shadow-s);
}

.landing__subtitle {
    font-family: "cat-child";
    font-size: 2.8rem;
    color: var(--c-white);
    text-shadow: var(--shadow-s);
}

.landing__text {
    font-family: "nunito";
    font-size: var(--fs-b-desktop);
    line-height: var(--lh-b-desktop);
    color: var(--c-white);
    text-shadow: var(--shadow-s);
    font-weight: 500;
}


.landing__wrapper-image {
    width: 40vw;
    margin-right: 10vw;
    top: -10rem;
    position: relative;
}


.landing__image {
    scale: 0.55;
    border: 15px solid var(--c-1);
    border-radius: 50%;
    padding: 1rem;
}


.yellow-accent {
    color: var(--c-1);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, var(--c-gr-3), var(--c-gr-4));
    z-index: 9999;
}

.preloader__animation {
    border: 10px solid var(--c-1);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.preloader__percentage{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.overflow-y-hidden {
    overflow-y: hidden;
}


.is-loading .preloader {
    display: flex;
}

.is-loading body {
    overflow: hidden;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}







@media (max-width: 500px) {



    .landing__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .landing__wrapper-text {
        width: 90vw;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing__wrapper-text>* {
        margin-bottom: var(--m-b-mobile);
    }

    .landing__title {
        font-size: var(--fs-t-mobile);
        margin-top: 5rem;
        width: 60vw;
    }

    .landing__subtitle {
        font-size: var(--fs-st-mobile);
    }

    .landing__text {
        font-size: var(--fs-b-mobile);
        line-height: var(--lh-b-mobile);
        text-align: left;
        width: 80vw;
    }

    .landing__wrapper-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 0;
        margin-top: 2rem;
    }

    .landing__image {
        scale: 0.30;
    }

    .landing__flourish {
        width: 75vw;
        margin-bottom: 1rem;
    }
}

