@import url(./reset.css);



@font-face {
    font-family: "teutonic";
    src: url('../../assets/fonts/teutonic/Teutonic.woff2') format('woff2'),
        url('../../assets/fonts/teutonic/Teutonic.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: "cat-child";
    src: url('../../assets/fonts/cat-child/cat-childs.regular.woff2') format('woff2'),
        url('../../assets/fonts/cat-child/cat-childs.regular.woff') format('woff');
    font-style: normal;
}


@font-face {
    font-family: "nunito";
    src: url('../../assets/fonts/nunito/nunito.woff2') format('woff2'),
        url('../../assets/fonts/nunito/nunito.woff') format('woff');
    font-style: normal;
}




:root {

    /* font sizes */

    /* body text */
    --fs-b-mobile: 0.9rem;
    --fs-b-desktop: 1.5rem;

    /* titles */
    --fs-tl-desktop: 9rem;
    --fs-t-desktop: 6.8rem;
    --fs-st-desktop: 2.8rem;
    --fs-t-mobile: 2.5rem;
    --fs-tl-mobile: 5.5rem;
    --fs-st-mobile: 1.2rem;

    /* colors */
    --c-1: #FFDA7A;
    --c-white: #FFFFFF;
    --c-black: #000000;

    /* line height */
    --lh-b-desktop: 2.4rem;
    --lh-b-mobile: 1.2rem;

    /* color gradients */
    --c-gr-1: #FFEED3;
    --c-gr-2: #FFFBEB;
    --c-gr-3: #3F2E3E;
    --c-gr-4: #74434B;

    /* shadows */
    --shadow-s: 0px 3px 10px rgba(0, 0, 0, 0.10);

    /* margins */
    --m-b-desktop: 2.8rem;
    --m-b-mobile: 1rem;
}


.landing__wrapper {
    display: flex;
    position: relative;
}

.landing {
    background-image: linear-gradient(90deg, var(--c-gr-3), var(--c-gr-4));
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.landing__flourish {
    position: absolute;
    margin: auto;
    top: 1%;
    width: 50vw;
    min-width: 50vw;
}

.landing__wrapper-text {
    width: 40vw;
    text-align: left;
    margin-left: 10vw;
    margin-top: 18rem;
    overflow: hidden;
    opacity: 1;
}

.landing__wrapper-text>* {
    margin-bottom: var(--m-b-desktop);
}


.landing__title {
    font-family: "teutonic";
    font-size: 6.8rem;
    color: var(--c-white);
    text-shadow: var(--shadow-s);
}

.landing__subtitle {
    font-family: "cat-child";
    font-size: 2.8rem;
    color: var(--c-white);
    text-shadow: var(--shadow-s);
}

.landing__text {
    font-family: "nunito";
    font-size: var(--fs-b-desktop);
    line-height: var(--lh-b-desktop);
    color: var(--c-white);
    text-shadow: var(--shadow-s);
    font-weight: 500;
}


.landing__wrapper-image {
    width: 40vw;
    margin-right: 10vw;
    top: -10rem;
    position: relative;
}


.landing__image {
    scale: 0.55;
    border: 15px solid var(--c-1);
    border-radius: 50%;
    padding: 1rem;
}


.yellow-accent {
    color: var(--c-1);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, var(--c-gr-3), var(--c-gr-4));
    z-index: 9999;
}

.preloader__animation {
    border: 10px solid var(--c-1);
    border-top: 10px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.5s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

.preloader__percentage {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.history {
    background-image: linear-gradient(90deg, var(--c-gr-1), var(--c-gr-2));
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150vh;
}


.test {
    height: 200vh;
    background-image: linear-gradient(90deg, var(--c-gr-1), var(--c-gr-2));
}

.history__intro {
    height: 130vh;
    width: 100vw;
    background-image: linear-gradient(90deg, var(--c-gr-3), var(--c-gr-4));
    background-color: rgba(37, 37, 37, 0.549);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.history__intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10%;
}


.history__intro-title {
    font-family: "teutonic";
    font-size: var(--fs-tl-desktop);
    color: var(--c-1);
    text-shadow: var(--shadow-s);
    opacity: 0;
    transform: translateY(40px);
    margin: 4rem;
    text-align: center;
}

.history__intro-flourish {
    width: 70vw;
}

.history__intro-flourish-bottom {
    transform: scaleY(-1);
}


.transition__history-1 {
    position: absolute;
    width: 102vw;
    left: -1%;
    transform: translateY(-60%);
    z-index: 1;
}


.ancestors {
    position: relative;
    z-index: 3;
    background-image: linear-gradient(90deg, var(--c-gr-1), var(--c-gr-2));
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600vh;
}

.ancestors__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 60vw;
    opacity: 0;
    transform: translateY(100px);
}

.ancestors__intro>* {
    margin-bottom: var(--m-b-desktop);
}

.ancestors__intro-title {
    font-family: "teutonic";
    font-size: var(--fs-t-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
    transform: translateY(40px);
}

.ancestors__intro-subtitle {
    font-family: "cat-child";
    font-size: var(--fs-st-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
    transform: translateY(40px);
}

.ancestors__intro-text {
    font-family: "nunito";
    font-size: var(--fs-b-desktop);
    line-height: var(--lh-b-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
    transform: translateY(40px);
}

.line {
    margin-top: 5rem;
    width: 40vw;
    filter: contrast(0.95);
}


.instruments__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.instrument {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

.instrument__image {
    position: relative;
    z-index: 2;
    grid-row: 1/2;
}

.circle-element {
    z-index: 1;
    position: absolute;
    left: -30vw;
    margin-top: 10rem;
    width: 75vw;
}

.instrument__image-img {
    z-index: 3;
    position: relative;
    transform: rotate(26deg);
    margin-top: 10rem;
    width: 25vw;

}

.instrument__text {
    width: 40vw;
    position: relative;
    margin-top: 20rem;
}

.instrument__text>* {
    margin-bottom: var(--m-b-desktop);
    text-align: left;
}

.instrument__text-title {
    font-family: "teutonic";
    font-size: var(--fs-t-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
}

.instrument__text-subtitle {
    font-family: "cat-child";
    font-size: var(--fs-st-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
}

.instrument__text-text {
    font-family: "nunito";
    font-size: var(--fs-b-desktop);
    line-height: var(--lh-b-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
}

.instrument__text-play {
    display: flex;
    flex-direction: row;
}

.instrument__text-flourish {
    position: absolute;
    transform: rotate(90deg);
    width: 25vw;
    left: 30vw;
    top: 15vw;
    filter: brightness(0);
}

.instrument__image-middle {
    grid-column: 2/2;
}

.instrument__text-middle {
    grid-column: 1/2;
}

.circle-element-middle {
    left: 5vw;
}

.instrument__image-img-rebec{
    transform: rotate(-26deg);
    width: 22vw;
    margin-top: 10rem;
}

.instrument__text-middle {
    position: relative;
    margin-left: 10vw;
    top: 10%;
}



.instrument__text-play {
    display: flex;
    align-items: center;
}

.instrument__text-play-text {
    font-family: "nunito";
    font-size: var(--fs-b-desktop);
    line-height: var(--lh-b-desktop);
    color: var(--c-black);
    text-shadow: var(--shadow-s);
    font-weight: 600;
}

.instrument__text-play-button {
    background-image: url(../../assets/svg/play-button.svg);
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
    width: 6rem;
    height: 6rem;
}



.instrument__text-play-button:active {
    cursor: pointer;
    animation: spin 1s linear infinite;

}

.image-rebab, .image-rebec, .image-lyra {
    opacity: 0;
}

.text-rebab, .text-rebec, .text-lyra {
    opacity: 0;
}











@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}







@media (max-width: 600px) {



    .landing__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .landing__wrapper-text {
        width: 90vw;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .landing__wrapper-text>* {
        margin-bottom: var(--m-b-mobile);
    }

    .landing__title {
        font-size: var(--fs-t-mobile);
        margin-top: 5rem;
        width: 75vw;
    }

    .landing__subtitle {
        font-size: var(--fs-st-mobile);
    }

    .landing__text {
        font-size: var(--fs-b-mobile);
        line-height: var(--lh-b-mobile);
        text-align: left;
        width: 80vw;
    }

    .landing__wrapper-image {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-right: 0;
        margin-top: 2rem;
    }

    .landing__image {
        scale: 0.30;
    }

    .landing__flourish {
        width: 75vw;
        margin-bottom: 1rem;
    }

    .history__intro-title {
        font-size: var(--fs-tl-mobile);
        line-height: 7rem;
    }

    .history__intro-flourish {
        width: 100vw;
    }

    .history__intro {
        height: 110vh;
        width: 100vw;
    }

    .history__intro-wrapper {
        top: 0;
    }

    .ancestors__intro {
        width: 90vw;
        transform: translateY(50px);
    }

    .ancestors__intro>* {
        margin-bottom: var(--m-b-mobile);
    }

    .ancestors__intro-title {
        font-size: var(--fs-t-mobile);
    }

    .ancestors__intro-subtitle {
        font-size: var(--fs-st-mobile);
        text-align: center;
    }

    .ancestors__intro-text {
        font-size: var(--fs-b-mobile);
        line-height: var(--lh-b-mobile);
    }

    .line {
        width: 80vw;
        margin-top: 4rem;
    }

    .instruments__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }


    .instrument {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }

    .instrument__text {
        width: 85vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7rem;
        z-index: 4;
    }

    .instrument__text>* {
        margin-bottom: var(--m-b-mobile);
    }

    .instrument__text-middle {
        margin-left: 0;
        margin-top: 2rem;
    }





    .instrument__text-title {
        font-size: var(--fs-t-mobile);
    }

    .instrument__text-subtitle {
        font-size: var(--fs-st-mobile);
    }

    .instrument__text-text {
        font-size: var(--fs-b-mobile);
        line-height: var(--lh-b-mobile);
    }

    .instrument__text-flourish {
        width: 75vw;
        margin-bottom: 1rem;
        transform: rotate(0);
        top: -100%;
        left: 0;
        margin: 0;
        position: relative;
    }

    .instrument__text-play {
        display: flex;
        flex-direction: column;
    }

    .instrument__image {
        width: 100vw;
        display: flex;
    }

    .circle-element {
        left: none;
        top: -50%;
        width: 120vw;
    }

    .instrument__image-img {
        width: 50vw;
        top: -40%;
        left: 20%;

    }


}